@using Microsoft.AspNetCore.Mvc.ModelBinding
@model AddFixedDepositViewModel

@{
    ViewData["Title"] = "Add Fixed Deposit";
    Layout = "BankLayout";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewBag.Title</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                            <div class="card-header">
                                <h2>Add Fixed Deposit</h2>
                            </div>
                            <div class="card-body">
                                <form asp-action="AddFixedDeposit" method="post">
                                    <div class="form-group">
                                        <label asp-for="FdPlanId" class="control-label">Fixed Deposit Plan</label>
                                        <br/>
                                        @foreach (var fdPlan in Model.FdPlans)
                                        {
                                            <div class="my-2">
                                                <label class="radio-inline">
                                                    <input type="radio" asp-for="FdPlanId" value="@fdPlan.Id"/>
                                                    @(Decimal.Round((decimal) fdPlan.InterestRate * 100, 2))% for @fdPlan.DurationInMonths months
                                                </label>
                                            </div>
                                        }
                                        <span asp-validation-for="FdPlanId" class="text-danger"></span>
                                    </div>
                
                                    <div class="form-group">
                                        <label asp-for="Amount" class="control-label">Fixed Deposit Amount</label>
                                        <input asp-for="Amount" type="number" class="form-control"/>
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                
                                    <div class="form-group">
                                        <label asp-for="SavingsAccountNumber" class="control-label">Savings Account Number</label>
                                        <input asp-for="SavingsAccountNumber" type="number" 
                                               maxlength="16" class="form-control"/>
                                        <span asp-validation-for="SavingsAccountNumber" class="text-danger"></span>
                                    </div>
                
                                    <!-- Display errors in model state-->
                                    <div class="form-group">
                                        <div class="">
                                            @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>