@model IndividualsViewModel
@{
    ViewBag.Title = "Individual Customers";
    Layout = "BankLayout";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Index</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Index</a>
                    </li>
                    <li class="breadcrumb-item active">Manage Accounts</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        <div class="form-inline">
                <div class="form-row">
                    <input type="text" class="col-4 form-control mb-2 mr-sm-2"
                           id="nic" placeholder="NIC">
                    <button onclick="onSubmit()" type="submit" class="col-2 btn btn-primary mb-2">Search</button>
                </div>
            </div>
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>NIC</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Mobile Number</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var individual in Model.Individuals)
                {
                    <tr>
                        <td>@individual.NIC</td>
                        <td>@individual.FirstName</td>
                        <td>@individual.LastName</td>
                        <td>@individual.DateOfBirth</td>
                        <td>@individual.Email</td>
                        <td>@individual.Gender</td>
                        <td>@individual.MobileNumber</td>
                    </tr>
                }
                </tbody>
            </table>
            <script>
                function onSubmit(e){
                    e.preventDefault()
                    const nic = $("#nic").val();
                    if (nic) {
                        window.location.href = `/bank/customers/individuals/${nic}`;
                    }
                    else{
                        alert("Please enter a NIC");
                    }
                }
            </script>
    </div>
</div>